<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span> {{title}}</h4>
</div>
<div class="modal-body">
    <p><img data-ng-show="spinner.isVisible" data-ng-src="{{spinner.src}}"> {{content}}</p>
    <p data-ng-show="message.isVisible" data-ng-class="">{{message.content}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" data-ng-disabled="confirmButton.isDisabled" data-ng-show="confirmButton.isVisible" ng-click="confirm()">{{confirmButton.label}}</button>
    <button class="btn btn-primary" data-ng-disabled="dismissButton.isDisabled" data-ng-show="dismissButton.isVisible" ng-click="dismiss()">{{dismissButton.label}}</button>
    <button class="btn btn-primary" data-ng-disabled="closeButton.isDisabled" data-ng-show="closeButton.isVisible" ng-click="close()">{{closeButton.label}}</button>
</div>