<div class="well well-small">
	<p class="lead">Vehicle List Filter</p>
	<table>
		<tr>
			<td>
				<label>Registration Plate</label>
				<input type="text" data-ng-model="registrationPlateFilter">
			</td>
			<td>
				<label>Description</label>
				<input type="text" data-ng-model="descriptionFilter">
			</td>
		</tr>
	</table>
</div>

<div class ="row-fluid">
	<div class="span12">
		<!-- <p class="lead">Vehicle List</p> -->
		<div class="btn-group pull-right">
			<a class="btn" href="{{'#' + defaultVehicleAction.partialUrl}}">{{defaultVehicleAction.displayLabel}}</a>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li data-ng-repeat="action in availableActions" ng-class="{'disabled': action.isDisabled}">
					<a data-ng-show="!action.isDisabled" href="{{'#' + action.partialUrl}}">{{action.displayLabel}}</a>
					<a data-ng-show="action.isDisabled" href="">{{action.displayLabel}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Registration Plate</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="vehicle in vehicles | filter: descriptionFilter | orderBy: 'description'">
				<td><a data-ng-href="#/vehicles/{{vehicle.id}}">{{vehicle.registrationPlate}}</a></td>
				<td class="muted">{{vehicle.description}}</td>
				<td>
					<button class="btn btn-mini pull-right" data-tooltip="Delete {{vehicle.registrationPlate}}" data-ng-click="deleteContractWithConfirmation(vehicle)"><i class="icon-remove icon-red"></i></button>
	    		</td>
			</tr>
		</tbody>
	</table>
</div>