<!-- scope via contractListController ngView-->

<div class="row">
	<div class="col-md-12">
		<div>
			<h3>Contract List
				<div class="btn-group pull-right">
					<a data-ng-repeat="option in optionsOnListView" role="button" class="btn btn-default" href="{{'#' + option.url}}">{{option.displayLabel}}</a>
				</div>
			</h3>
		</div>
	</div>
</div>

</br>

	<!-- <div class="well well-small">
		<p class="lead">Filter:</p>
		<table>
			<tr>
				<td>
					<label>Contract</label>
					<input type="text" data-ng-model="symbolFilter">
				</td>
				<td>
					<label>Description</label>
					<input type="text" data-ng-model="descriptionFilter">
				</td>
			</tr>
		</table>
	</div> -->
	
	<x-ait-list rows="listOptions.page.content" on-delete="deleteContract(entity)">
	    <column title='ID'><span class="muted">{{row.id}}</span></column>
	    <column title="Contract Name"><a data-ng-href="#/contracts/{{row.id}}">{{row.symbol}}</a></column>
	    <column title='Description'>{{row.description}}</column>
	    <column title='Start Date'>{{row.startDate}}</column>
	    <column title='End Date'>{{row.endDate}}</column>
	    <column title=""><button class="btn btn-mini pull-right" data-tooltip="Delete {{row.symbol}}" data-ng-click="deleteRow({entity: row})"><span class="glyphicon glyphicon-remove-sign"></span></button></column>
	</x-ait-list>
	
	Total Items: {{totalItems}}
	Items per Page: {{itemsPerPage}}
	Current Page Number: {{currentPageNumber}}
	<pagination total-items="totalItems" ng-model="currentPageNumber" items-per-page="itemsPerPage" ng-change="pageChanged()"></pagination>

