<div><h3>Contract Detail</h3></div>

</br>

<form name="contractDetailForm" role="form">

	<div class="form-group">
		<label for="contractName">Contract Name</label>
		<input type="text" class="form-control" id="contractName" placeholder="Enter contract name" data-ng-model="contract.symbol" required>
	</div>
	
	<div class="form-group">
		<label for="contractDescription">Description</label>
		<input type="text" class="form-control" id="contractDescription" placeholder="Enter description" data-ng-model="contract.description">
	</div>
	
	<div class="form-group">
		<label for="contractStartDate">Start Date</label>
		<input type="text" class="form-control" id="contractStartDate" placeholder="Enter Start Date" data-ng-model="contract.startDate">
	</div>
	<div class="form-group">
		<label for="contractEndDate">End Date</label>
		<input class="form-control" id="contractEndDate" placeholder="Enter End Date" data-ng-model="contract.endDate">
	</div>
		
	<p>
	<button data-ng-click="isCollapsed = !isCollapsed">
		<i class="icon-plus-sign"></i> Add Term Line Item
	</button>
	</p>
		
		<div collapse="isCollapsed">
			<div class="well">
				<h5>New Activity Detail</h5>
				<table>
					<tr>
						<td>
							<label>Activity</label>
							<select data-ng-model="contractActivityLogItem.activityType"
									data-ng-options="contractActivityType.symbol for contractActivityType in contractActivityTypeList">
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label>Start Date</label>
							<input type="text"
								   data-ng-model="contractActivityLogItem.startDate"
								   datepicker-popup="dd-MMM-yyyy"
								   close-text="Close"
								   is-open="opened">
								   <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
						</td>
						
						<td>
							<label>End Date</label>
							<input data-ng-model="contractActivityLogItem.endDate" type="text">
						</td>
					</tr>
					<tr><td><label>Comment</label><input data-ng-model="contractActivityLogItem.comment" type="text"></td></tr>
				</table>
				<button class="btn" data-ng-click="addcontractActivityLogItem(contractActivityLogItem)"><i class="icon-plus-sign"></i> Add</button>
				<button class="btn" data-ng-click=""><i class="icon-plus-sign"></i> Cancel</button>
			</div>
		</div>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Activity Type</th>
					<th>Log Date</th>
					<th>Activity Date</th>
					<th>log Entry</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="contractActivityLogItem in contract.contractActivityLogItems">
					<td>
						<select data-ng-model="contractActivityLogItem.contractActivityType.id"
								data-ng-options="contractActivityType.id as contractActivityType.symbol for contractActivityType in contractActivityTypeList">
						</select>
					</td>
					<td><input type="text" data-ng-model="contractActivityLogItem.startDate"></td>
					<td><input type="text" data-ng-model="contractActivityLogItem.endDate"></td>
					<td><input type="text" data-ng-model="contractActivityLogItem.comment"></td>
					<td>
						<button class="btn btn-mini pull-right" data-tooltip="Delete LineItem" data-ng-click="removeLineItem($index)"><i class="icon-remove"></i></button>
		    		</td>
				</tr>
			</tbody>
		</table>
		
		<button class="btn" data-ng-click="saveContract()" ng-disabled="contractDetailForm.$invalid || contractDetailForm.$pristine">
			<i class="icon-check"></i> Save
		</button>
		<button class="btn" data-ng-click="cancelAndReturnToContractList()">
			<i class="icon-circle-arrow-left"></i> Return to Contract List
		</button>
		Invalid - {{contractDetailForm.$invalid}} :: Pristine - {{contractDetailForm.$pristine}} ::  Dirty - {{contractDetailForm.$dirty}}	
	
</form>