
Data Source = {{listSource[0]}}<br>
Data Options = {{listOptions.columnDefinitions[0].columnTemplate}}<br>

<div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th data-ng-repeat="columnDefinition in listOptions.columnDefinitions">
					<span ng-bind-html="columnDefinition.columnLabel"></span>
				</th>
			</tr>
		</thead>
		<tbody>	
			 <tr data-ng-repeat="entity in listSource">
				<td data-ng-repeat="columnDefinition in listOptions.columnDefinitions">
					Hi There
					<!-- <span ng-bind-html="columnDefinition.columnTemplate"></span> -->
								<!-- <td><a data-ng-href="#/contracts/{{entity.id}}">{{entity['symbol']}}</a></td>
								<td class="muted">{{entity.description}}</td>
								<td>
									<button class="btn btn-mini pull-right" data-tooltip="Delete {{contract.symbol}}" data-ng-click="genericCrudDeleteConfirmationPopup(contract)"><i class="icon-remove"></i></button>
					    		</td> -->
				</td>
			</tr> 
		</tbody>
	</table>
</div>