<!-- scope via contractListController ngView-->

<div class="row">
	<div class="col-md-12">
		<div>
			<h3>Contract List
				<div class="btn-group pull-right">
					<button data-ng-repeat="option in listViewOptions" role="button" class="btn btn-default" data-ng-click="option.action()">{{option.displayLabel}}</button>
					<!-- <a data-ng-repeat="option in listViewOptions" role="button" class="btn btn-default" href="{{option.url}}">{{option.displayLabel}}</a> -->
				</div>
			</h3>
			<pagination total-items="pagination.totalItems" ng-model="pagination.pageNumber" items-per-page="pagination.maxItems" ng-change="updatePage()"></pagination>
		</div>
	</div>
</div>

</br>

	<button data-ng-click="toggleSpinner()">Toggle Spinner</button>
	
	
	<data-my-list rows="currentPage.content" on-delete="popupAreYouSure(entity)">
	    //<column title='ID'><span class="muted">{{row.id}}</span></column>
	    <column title="Contract Name"><a data-ng-href="#/contracts/{{row.id}}">{{row.symbol}}</a></column>
	    <column title='Description'><span class="muted">{{row.description}}</span></column>
	    <!--<column title='Start Date'>{{row.startDate}}</column>
	    <column title='End Date'>{{row.endDate}}</column> -->
	    <column title=""><button class="btn btn-mini pull-right" data-tooltip="Delete {{row.symbol}}" data-ng-click="deleteRow({entity: row})"><span class="glyphicon glyphicon-remove-sign"></span></button></column>
	</data-my-list>
	
	numberOfElements: {{currentPage.numberOfElements}}<br>
	size: {{currentPage.size}}<br>
	totalElements: {{currentPage.totalElements}}<br>
	Current Page Number: {{pagination.pageNumber}} <br>
	Number of pages: {{currentPage.totalPages}}<br>
	

