<form id="tax-year-dialog" ng-controller="tax-year-dialog-controller" ng-show="false">
	ID: <input type="text" ng-model="id"><br>
	Symbol: <input type="text" ng-model="taxYear.symbol"><br>
	Description: <input type="text" ng-model="taxYear.description"><br>
	Start Date: <input type="text" ng-model="taxYear.yearStartDate"><br>
	End Date: <input type="text" ng-model="taxYear.yearEndDate"><br>
	Last Submitted Total: <input type="text" ng-model="taxYear.lastSubmittedYearlyMileageTotal"><br>
	Mileage Rates:
	<ul style="border: thin">
		<li class="ui-widget ui-state-default ui-corner-all ui-button-text-only" style="z-index: 999999" ng-repeat="mileageRateLineItem in taxYear.mileageRateLineItems" data-mileageRateLineItem="{{taxYear.mileageRateLineItem}}">
			<div draggable class="ui-button-text">{{mileageRateLineItem.upperLimit}}</div>
		</li>
	</ul>
</form>